*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #2A2B2F;
    color: white;
}

.menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px;
    border-radius: 20px;
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 9px;
}

.link
{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #FBF5EB;
}

.link:hover
{
    color: #E22FFF;
}

#freccia{
    padding: 10px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

#creaevento{
    font-size: 24px;
    color: #E22FFF;
    font-weight: 600;
    padding-top: 18px;
    margin-left: -20px;
}

#conferma{
    background-color: #2A2B2F;
    border-color:#E22FFF;
    color: white;
    border-radius: 5px;
    font-size: 9px;
    margin-top: 29px;
    margin-right: 10px;
}

#fotobarevento img{
    width: 310px;
}

#fotobarevento{
    text-align: center;
}

