#container{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
#innerCont{
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
#title{
    color: #ffc200;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 80px;
}
#turnBack{
    height: 55px;
    width: 55px;
    background-image: url(../img/left\ arrow.png);
}
#optDesc{
    text-align: center;
    width: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    height: 50px;

}
#opt{
    width: 96px;
    margin-top: auto;
    margin-bottom: auto;
}
/* pulsante */
/* From cssbuttons.io by @nikk7007 */
.switch {
 --false: #E81B1B;
 --true: #009068;
}

input[type=checkbox] {
 appearance: none;
 height: 2rem;
 width: 3.5rem;
 background-color: #fff;
 position: relative;
 border-radius: .2em;
 cursor: pointer;
}

input[type=checkbox]::before {
 content: '';
 display: block;
 height: 1.9em;
 width: 1.9em;
 transform: translate(-50%, -50%);
 position: absolute;
 top: 50%;
 left: calc(1.9em/2 + .3em);
 background-color: var(--false);
 border-radius: .2em;
 transition: .3s ease;
}

input[type=checkbox]:checked::before {
 background-color: var(--true);
 left: calc(100% - (1.9em/2 + .3em));
}